/************** GRILLA SECTION INICIO ***************/

.GrillaPlantas {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "imagen imagen texto"
    "video1 video2 video3";
    overflow: hidden;
}

.imagen{
    grid-area: imagen;
}

.texto{
    grid-area: texto;
}

.video1 {
    grid-area: video1;
}

.video2 {
    grid-area: video2;
}

.video3 {
    grid-area: video3;
}

/********* GRILLA PLANTAS DE EXTERIOR y INTERIOR *********/

.GrillaExterior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "tituloh tituloh"
    "foto1 descripcion1"
    "descripcion2 foto2"
    "foto3 descripcion3"
    "descripcion4 foto4"
    "foto5 descripcion5"
    "descripcion6 foto6";
    overflow: hidden;
}

.tituloh {
    grid-area: tituloh;
}

.foto1 {
    grid-area: foto1;
}

.descripcion1 {
    grid-area: descripcion1;
}

.foto2 {
    grid-area: foto2;
}

.descripcion2 {
    grid-area: descripcion2;
}

.foto3 {
    grid-area: foto3;
}

.descripcion3 {
    grid-area: descripcion3;
}

.foto4 {
    grid-area: foto4;
}

.descripcion4 {
    grid-area: descripcion4;
}

.foto5 {
    grid-area: foto5;
}

.descripcion5 {
    grid-area: descripcion5;
}

.foto6 {
    grid-area: foto6;
}

.descripcion6 {
    grid-area: descripcion6;
}

/**************** IMAGEN PLANTA INICIO ***************/
.estiloImagen {
    display: flex;

    & img {
        width: 100%;
        filter: brightness(85%);
    }
}

/****** ¿PORQUE ES BENEFICOSO TENER PLANTAS *******/
.estiloTexto{
    font-family: $fontParrafos;
    text-align: center;
    background-color: #fff9ed;
    filter: brightness(85%);   

    & h1 {
        font-size: 1.25rem;
        padding: 50px;
        transform: translate(-10px);
        font-weight: bold;
    }

    & p {
        font-size: 0.93rem;
        padding: 50px;
        transform: translate(-10px);
    }
}

/************** VIDEOS ***************/
.videoInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    margin: 25px 0px 25px 0px;
}

.estiloVideo.insumos {
    margin: 25px 0px 25px 0px;
}

.estiloVideo {
    width: 300px;
    height: 200px;
}

.TextoDeIframe {
    display: flex;
    font-family: $fontParrafos;
    font-size: 1.12rem;
    justify-content: center;
    align-items: center;
    font-weight:600;

    &:hover {
        transform: scale(1.1);
    }
}
